@font-face {
    font-family: 'PretendardVariable';
    src: url('./../assets/fonts/PretendardVariable.ttf');
    /* font-family: 'PretendardVariable';
    src: url('/PretendardVariable.ttf'); */
}

* {
    font-family: PretendardVariable;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

li {
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px; /* 모서리를 둥글게 */
    background-color: #ffffff; /* 흰색 배경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* 호버 시 애니메이션 */
    cursor: pointer;
}

/* 첫 번째 li 스타일 */
li:first-child {
    border: 2px solid #ffb6c1;
    border-radius: 8px; /* 모서리를 둥글게 */
    padding: 8px;
    margin-bottom: 8px;
}

/* 마지막 li 스타일 */
/* li:last-child {
    border: 2px solid #4caf50; 
    border-radius: 8px; 
    padding: 8px;
    margin-bottom: 8px;
} */

h3 {
    margin: 0 0 8px 0;
    font-weight: 700;
    color: #ff99cc;
}
